apiVersion: v1
kind: Secret
metadata:
  name: {{ VM_NAME }}-ssh-key
  namespace: {{ PROJECT }}
  labels:
    environment: ansible-test-{{ VM_NAME }}
type: Opaque
data:
    authorized_keys: {{ ssh_key | b64encode }}