apiVersion: v1
kind: Service
metadata:
{% if condition == 'clone' %}  
  name: {{ VM_NAME }}-clone-svc-lb
{% else %}
  name: {{ VM_NAME }}-svc-lb
{% endif %}
  namespace: {{ PROJECT }}
  annotations:
    metallb.universe.tf/address-pool: {{ IP_ADDRESS_POOL }}
  labels:
    environment: ansible-test-{{ VM_NAME }}
spec:
  selector:
{% if condition == 'clone' %}  
    kubevirt.io/domain: {{ VM_NAME }}-clone
{% else %}
    kubevirt.io/domain: {{ VM_NAME }}
{% endif %}
  ports:
    - port: 22
      targetPort: 22
      protocol: TCP
      name: ssh
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  type: LoadBalancer